body {
    font-family: "Robot Mono", sans-serif, monospace; 
    font-size: 16px;
}

.header-title {
    font-family: monospace;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding: 20px 20px;
    text-align: center;
}

.player-name {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px ;
    margin: 20px 20px;
}

.playerX,
.playerO,
.restart-game {
    height: 40px;
    width: auto;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 1rem ;
    margin: 0.5rem;
}

button {
    font-family: monospace;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul button:hover {
    box-shadow: 0 0 10px 10px hsla(0, 0%, 50%, 0.3);
}

section {
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 50px auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    height: 130px;
    border: solid 2px black;  
    position: relative;
    cursor: pointer;
}

.box.x ,
.box.o {
    cursor: not-allowed;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.box.x::before,
.box.x::after,
.box.o::before{
    background-color: black;
}

.game-grid.x .box:not(.x):not(.o):hover::before,
.game-grid.x .box:not(.x):not(.o):hover::after,
.game-grid.o .box:not(.x):not(.o):hover::after,
.game-grid.o .box:not(.x):not(.o):hover::before{
    background-color: lightgrey;
}

.box.x::before,
.box.x::after,
.game-grid.x .box:not(.x):not(.o):hover::before,
.game-grid.x .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(130px * 0.15);
    height: calc(130px * 0.9);
}

.box.x::before,
.game-grid.x .box:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.box.x::after,
.game-grid.x .box:not(.x):not(.o):hover::after{
    transform: rotate(135deg);
}

.box.o::before,
.game-grid.o .box:not(.x):not(.o):hover::before{
    content: '';
    width: calc(130px * 0.9);
    height: calc(130px * 0.9);
    position: absolute;
    border-radius: 50%;
}

.box.o::after,
.game-grid.o .box:not(.x):not(.o):hover::after{
    content: '';
    width: calc(130px * 0.7);
    height: calc(130px * 0.7);
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.result {
    display: none;
}

.result.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-winner {
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin: 1rem;
}